body{margin:0px;padding:0px; font-family:Arial, Helvetica, sans-serif;color:#666666; background:#CCCCCC; font-size:13px;}
h1{ font-size:14px; text-align:center;}
.videothumb{margin:0px auto;width:500px;padding-top:50px; text-align: center;}